*{margin: 0px;
    padding: 0px;}

body{background: radial-gradient(circle ,#2b2db1c5, #4447e0c5, #2B2DB1);}

::-webkit-scrollbar {
    display: none;
}

@font-face{
    font-family: 'Rimma-Sans';
    src: url(fonts/RIMMA_SANS-BOLD.TTF);
}
@font-face {
    font-family: 'Unbounded';
    src: url(fonts/Unbounded-Regular.ttf);
}

header { 
    z-index: 2;       
}

a {
    color: inherit;      
    text-decoration: none;  
}

.fon1{
    display: grid; justify-self: center;
    position: fixed; top: 0px;
    z-index: -1;
    user-select: none; -webkit-user-drag: none;
    max-width: 1920px;
    width: 1920px;
    opacity: 1;
    
}

#zagolovok{
    position: relative;
    width: 500px;
    color: #FFFFFF;
    margin: 35px; margin-left: 50px;
    font-size: 40px; font-family: 'Rimma-Sans';
    letter-spacing: 2px; z-index: 1;
    transition: all 0.3s ease;
    animation: zag 0.4s ease-out forwards
}
#zagolovok:hover{
    color: #ffffffce; 
    scale: 1.1;
}

#navig{
    animation: navig 0.35s ease-out forwards;
    color: #FFFFFF;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: auto auto auto; 
    justify-content: center; 
    gap: 60px;
    text-align: center; position: absolute; right: 4%; top: 3%;
    font-size: 32px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none; z-index: 1;
}

.glavn, 
.forum,
.translate{
    height: 33px;
    transition: all 0.3s ease;
}
.glavn:hover, 
.forum:hover,
.translate:hover{
    animation: line 0.4s ease forwards;
    scale: 1.2;
    color: #ffffff;}

#year{
    user-select: none;
    animation: zag 0.4s ease-out forwards;
    color: #FFFFFF;
    position: absolute; top: 270px; margin-left: 50px; 
    letter-spacing: 2px; line-height: 120%;
    font-size: 55px; font-family: 'Unbounded';
    z-index: 1; transition: all 0.3s ease;
}

/* //////////////////////////////////// */

@media (min-width: 2000px) {
    #year{
        font-size: 60px;
        left: 50px;
    }
    #zagolovok{
        font-size: 45px;
        left: 50px
    }
}
@media (min-width: 2500px) {
    #zagolovok{
        font-size: 50px;
        width: 1000px;
    }
}
@media (min-width: 3000px) {
    #zagolovok{
        font-size: 60px;
        width: 1500px;
    }
}

/* //////////////////////////////////// */

@keyframes line{
    0%{
        border-bottom: 3px solid #2B2DB1;
        width: 0%;
    }
    100%{
        border-bottom: 3px solid #2B2DB1;
        width: 100%;
    }
}
@keyframes zag {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    70% {
        opacity: 0.7;
        transform: translateX(45px);
    }
    100% {
        opacity: 1;
        transform: translateX(10px);}
}
@keyframes navig{
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }
    70% {
        opacity: 0.7;
        transform: translateY(10px);}
    100% {
        opacity: 1;
        transform: translateY(0px);}
}

/* //////////////////////////////////// */

#content-box1{
    position: absolute; top: 817px;
    display: grid; justify-self: center;
    border: #2B2DB1 3px solid; border-top-left-radius: 62px; border-top-right-radius: 62px;
    background-color: #FFFFFF;
    max-width: 1920px;
    width: 1918px;
    height: 1920px;
    z-index: 2;
}

h1{
    user-select: none;
    color: #2B2DB1; 
    font-size: 40px; font-family: 'Rimma-Sans';
    text-align: center;
    margin: 20px; padding-top: 30px;
}
.line{
    width: 543px;
    height: 0px;
    border-top: 4px solid #2B2DB1;
    position: absolute; left: 50%; top: 160px;
    transform: translateX(-50%);
}
.line2{
    width: 543px;
    height: 0px;
    border-top: 4px solid #2B2DB1;
    position: absolute; left: 50%; top: 1830px;
    transform: translateX(-50%);
}

.info{
    position: absolute; top: 264px; right: 460px;
    color: #2B2DB1;
    font-size: 31px; font-family: 'Unbounded';
    letter-spacing: 1px; line-height: 120%;
    width: 450px;
    margin: 20px;
}

.img1{
    position: absolute; top: 265px; left: 450px;
    width: 510px;
    height: 410px;
    opacity: 1;
    border-radius: 15px;
    transition: all 0.3s ease;
}
.img1:hover{
    scale: 1.05;
}
.img2{
    position: absolute; top: 1080px; left: 450px;
    width: 510px;
    opacity: 1;
    border-radius: 15px;
    transition: all 0.3s ease;
}
.img2:hover{
    scale: 1.04;
}

.info2{
    position: absolute;
    left: 50%; transform: translateX(-50%);
    color: #2B2DB1;
    position: relative; top: 5px;
    font-family: 'Unbounded';
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    width: 701px;
}

.future{
    position: absolute; top: 900px;
    display: grid; justify-self: center;
}

.hant{
    letter-spacing: 1px;
    margin: 20px;
    color: #B3B3B3;
    position: absolute; top: 210px; left: 442px;
    font-size: 20px; font-family: 'Unbounded';
}
.yak{
    letter-spacing: 1px;
    margin: 20px;
    color: #B3B3B3;
    position: absolute; top: 1023px; left: 442px;
    font-size: 20px; font-family: 'Unbounded';
}

.info20{
    position: absolute; top: 1080px; right: 460px;
    color: #2B2DB1;
    font-size: 31px; font-family: 'Unbounded';
    letter-spacing: 1px; line-height: 130%;
    width: 450px;
    margin: 20px;
}
.info21{
    position: absolute; left: 50%; transform: translateX(-60%); top: 1665px;
    color: #2B2DB1;
    font-size: 31px; font-family: 'Unbounded';
    width: 730px;
    letter-spacing: 2px;
}

/* //////////////////////////////////// */

#fon2{
    border: #2B2DB1 4px solid;
    left: -5px;
    display: grid; justify-content: center;
    position: absolute; bottom: -862px;
    z-index: -1;
    user-select: none; -webkit-user-drag: none;
    max-width: 1920px;
    width: 1920px;
    opacity: 1;
}
#content-box2{
    color: #2B2DB1;
    letter-spacing: 1px;
    position: absolute; top: 3390px;
    display: grid; justify-self: center;
    border: #2B2DB1 3px solid; border-top-left-radius: 62px; border-top-right-radius: 62px;
    background-color: #FFFFFF;
    max-width: 1920px;
    width: 1918px;
    height: 2270px;
    z-index: 3;
}

h1.map-start{
    position: absolute;
    top: 162px; left: 50%; transform: translateX(-50%);
    width: 1200px;
    font-size: 28px; font-family: 'Unbounded';
}

/* //////////////////////////////////// */

#numbers{
    letter-spacing: 1px;
    font-size: 40px;
    font-family: 'Rimma-Sans';
    color: #FFFFFF;
}
#narod{
    font-size: 100px; color: #2B2DB1;
    position: absolute; left: 12%; bottom: -210px;
    transition: all 0.3s ease;
}
#narod:hover{
    scale: 1.1;
    color: #3537cf
}
.narodtxt{
    letter-spacing: 1px;
    position: absolute; left: 27.1%; bottom: -183px;
}


#lang{
    font-size: 100px; color: #2B2DB1;
    position: absolute; left: 12%; bottom: -385px;
    transition: all 0.3s ease;
}
#lang:hover{
    scale: 1.08;
    color: #3537cf
}
.langtxt{
    letter-spacing: 1px;
    position: absolute; left: 28.7%; bottom: -358px;
}


#time{
    font-size: 100px;
    position: absolute; left: 16%; bottom: -555px;
    transition: all 0.3s ease;
}
#time:hover{
    scale: 1.17;
    color: #dfdddd;
}
.timetxt{
    letter-spacing: 1px;
    position: absolute; left: 21.6%; bottom: -525px;
    width: 2000px;
}

/* //////////////////////////////////// */


#map{
    border: #2B2DB1 3px solid;
    border-radius: 30px;
    box-shadow: 3px 3px 2px 4px #5457ee;
    position: absolute;
    top: 340px; left: 50%; transform: translateX(-50%);
    width: 1070px; height: 650px;
}


.regbox{
    line-height: 43px;
    margin-top: 380px;
    display: grid; justify-self: center;
}
.region{
    user-select: auto;
    text-align: center;
    width: 804px;
    font-size: 28px; font-family: 'Unbounded';
    margin: 15px;
}

.line3{
    width: 543px;
    height: 0px;
    border-top: 4px solid #2B2DB1;
    position: absolute; left: 50%; top: 1290px;
    transform: translateX(-50%);
}

.qwiztop{
    margin-top: -360px;
}

#qwiz{
    letter-spacing: normal;
    position: absolute; left: 50%; top: 1540px;
    transform: translateX(-50%);
    line-height: 32px;
    font-size: 29px; font-family: 'Unbounded';
    text-align: center;
    width: 757px;
    color: #000000;
}

#qwizform{
    text-align: start;
    user-select: none;
    font-size: 28px;
    line-height: 38px;
    position: absolute;
    left: 49%; top: 150px;
    transform: translateX(-50%);
}

#qwizform input[type="radio"] {
  accent-color: #2B2DB1;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  transition: all 0.2s ease;
}
#qwizform input[type="radio"]:hover{
    scale: 1.15;
}
#qwizform input[type="radio"]:focus{
    animation: qwiz 0.3s ease-out forwards
}

@keyframes qwiz{
    0%{
        scale: 1.15;
    }
    50%{
        scale: 1.35;
    }
    100%{
        scale: 1.15;
    }
}

#qwizform label {
  vertical-align: middle;
}

#submit{
    scale: 1.05;
    color: #2B2DB1;
    font-size: 19px; font-family: 'Rimma-Sans';
    position: absolute; left: -33px;
    margin: 38px; 
    height: 60px; width: 200px;
    border: #2B2DB1 3px solid;
    border-radius: 10px;
    transition: all 0.3s ease;
}
#submit:hover{
    scale: 1.1;
    color: #FFFFFF;
    background-color: #2B2DB1;
}