<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/forum.css">
    <title>Голоса России</title>

    <!-- фавикон -->
    <!-- Стандартный favicon (ICO формат) -->
    <link rel="icon" href="static\img\favicon.png" type="image/x-icon">
    
    <!-- Для современных браузеров -->
    <link rel="icon" type="image/png" sizes="32x32" href="static\img\favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static\img\favicon.png">
    
    <!-- Для Apple устройств -->
    <link rel="apple-touch-icon" sizes="180x180" href="static\img\favicon.png">
    
    <!-- Для Android -->
    <link rel="icon" type="image/png" sizes="192x192" href="static\img\favicon.png">
    <link rel="icon" type="image/png" sizes="512x512" href="static\img\favicon.png">
    
</head>
<body>
    
    <img class="fon1" src="static/img/forumfon1.png">

    <header>
        <div id="zagolovok"><a href="{{ url_for('index') }}">код единства</a></div> 
                <div id="navig">
                    <a href="{{ url_for('index') }}"><p class="glavn">Главная</p></a>

                    <a href="{{ url_for('forum') }}"><p class="forum">Форум</p></a>

                    <a href="{{ url_for('translate') }}"><p class="translate">Переводчик</p></a>
                </div>
    </header>    

        <div id="year">
            Форум <br>
            голоса России
        </div>

    <div id="content-box1">
    <h1>Поделитесь тем, что хранится в вашей семье</h1>
    <div class="line"> </div>

    <div id="info">
        В каждом доме — своя история. В каждой <br>
        семье — свои традиции. <br>
        В каждой памяти — свои ценности, которые переходят
        от бабушек к внукам,  от дедов, к правнукам.
        <br><br>
        Этот форум — живая летопись народов России. Место, где северный ненец расскажет о танцах с оленями, кавказский горец — о секретах долголетия, а сибирская шаманка — о языке звёзд.
    </div>

<img class="asideL" src="static/img/aside.png"><img class="asideR" src="static/img/aside.png">

    <h1 class="news">свежие истории:</h1>

<div id="main-feed"></div>

<h1 class="foot">Оставляйте истории своих народов!</h1>



<footer id="podval">
    <div id="navigfoot">
        <p class="navigg"><a href="{{ url_for('index') }}">Главная</a></p><br>
        <p class="navigg"><a href="{{ url_for('forum') }}">Форум</a></p><br>
        <p class="navigg"><a href="{{ url_for('translate') }}">Переводчик</a></p><br>
    </div>

    <div id="creators">
        <p class="navigg2">Разработчики</p><br>
        <p class="navigg2">Поддержка</p><br>
        <p class="navigg2">Партнерство</p>
    </div>

    <div id="seti">
        <p class="navigg3"><a href="https://vk.com/club235972581">VK</a></p><br>
        <p class="navigg3"><a href="https://t.me/KodEdin">telegram</a></p>
    </div>

    <div id="Kod">КОД ЕДИНСТВА
    </div>

<div id="kodfoot">2026© код единства </div>
</footer>

</div>

<script src="{{ url_for('static', filename='js/forum.js') }}"></script>
</body>
</html>