<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/translate.css') }}">
    <title>Языки народов</title>
</head>
<body>
    
<header>
        <div id="zagolovok"><a href="{{ url_for('index') }}">код единства</a></div> 
                <div id="navig">
                    <a href="{{ url_for('index') }}"><p class="glavn">Главная</p></a>

                    <a href="{{ url_for('forum') }}"><p class="forum">Форум</p></a>

                    <a href="{{ url_for('translate') }}"><p class="translate">Переводчик</p></a>
                </div>
    </header>


    <div id="txt">
        <h1 class="txt1">Переводчик на языки <br> народов</h1>
    </div>

        <div class="transl"><h1>Русский — Татарский</h1></div>
        
        <div id="okno">
            <div class="lang-item" data-lang="tt">Татарский</div>
            <div class="lang-item" data-lang="ba">Башкирский</div>
            <div class="lang-item" data-lang="sah">Якутский</div>
            <div class="lang-item" data-lang="udm">Удмуртский</div>
            <div class="lang-item" data-lang="krl">Карельский</div>
            <div class="lang-item" data-lang="yrk">Ненецкий</div>
        </div>
            <button id="langs">^</button>

    <div id="window">    
        <textarea id="upper-box" placeholder="Введите текст на русском..."></textarea>
        <textarea id="lower-box" placeholder="Тут будет перевод..." readonly></textarea>
    </div>

<footer id="podval">
    <div id="navigfoot">
        <p class="navigg"><a href="index.html">Главная</a></p><br>
        <p class="navigg"><a href="forum.html">Форум</a></p><br>
        <p class="navigg">Переводчик</p><br>
    </div>

    <div id="creators">
        <p class="navigg2">Разработчики</p><br>
        <p class="navigg2">Поддержка</p><br>
        <p class="navigg2">Партнерство</p>
    </div>

    <div id="seti">
        <p class="navigg3"><a href="https://vk.com/club235972581">VK</a></p><br>
        <p class="navigg3"><a href="https://t.me/KodEdin">telegram</a></p>
    </div>

    <div id="Kod">КОД ЕДИНСТВА
    </div>

<div id="kodfoot">2026© код единства </div>
</footer>


<script src="{{ url_for('static', filename='js/translate.js') }}"></script>
</body>
</html>